.DayContent {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    padding: 1.5em;
    padding-top: 0;
    gap: 3em;
    z-index: 1;

    background: var(--clear-color);
    color: hsl(0, 0%, 15%);
    border: 1px solid hsla(0, 0%, 100%, 0.1);
    border-radius: var(--default-border-radius);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);


    .DayContent-header {
        width: 60%;

        .max-calories {
            position: absolute;
            top: 0;
            right: 5rem;

            --clear-color: hsl(35, 30%, 80%);
            background: var(--clear-color);
            outline: 0.15em solid var(--clear-color);

            border-radius: 2em;
            border: 0.15em solid hsl(45, 70%, 48%);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: green;
            font-size: 2.5rem;
            padding: 0.2rem;
            transform: rotateZ(4deg);
            font-family: var(--font-title);
            width: 2.5em;
            height: 2.5em;
            box-shadow: 4px 4px 10px 5px hsl(0, 0%, 20%, 0.5);

            input {
                background: none;
                text-align: center;
                font-family: var(--font-title);
                border: unset;
                /* font-size: 0.85em; */
                font-size: 0.9em;
                width: 3em;
                height: 1.5em;
                margin-bottom: -15px;
                z-index: 1;

                &:focus {
                    outline: none;
                }
            }

            span:nth-child(2) {
                font-size: 0.85rem;
                font-family: var(--font-default);
                color: var(--default-color);
                z-index: 1;
            }


            svg {
                position: absolute;
                transform: rotateZ(4deg);
                top: 0;
                z-index: 0;

                color: hsla(45, 80%, 48%, 0.5);
                height: 90%;
                width: 90%;

            }

            /* .decoration {
                border: 10px double rgb(245, 177, 52);
                height: 3px;
                position: absolute;
                width: 100%;
                z-index: -1;
            } */
        }
    }





    .filter-bar {
        display: flex;
        padding: 1em;
        gap: 15em;
        align-items: center;
        justify-content: space-evenly;

        .calorie-counter {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            font-family: var(--font-default);
            justify-items: center;
            padding: 0.5em;
            width: 8em;

            background: hsl(0, 0%, 70%, 0.5);
            color: hsl(0, 0%, 15%);
            border: 1px solid hsla(0, 0%, 100%, 0.1);
            border-radius: var(--default-border-radius);
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

            input {
                background: none;
                border: none;
                font-family: var(--font-default);
                max-width: 3em;
                min-width: 1em;
                font-size: 1em;
                font-weight: 600;

                &:focus {
                    outline: none;
                }
            }
        }

        /* .filter-meals {
            display: flex;
            gap: 1em;
        } */

        .view-mode {
            display: flex;
            gap: 1em;

            button {
                height: 2.5em;
                width: 2.5em;

                svg {
                    font-size: 1.5em;
                }
            }

        }

        button {
            color: var(--font-color-default);
            background: hsl(0, 0%, 70%, 0.5);
            font-family: var(--font-default);
            border: 1px solid hsla(0, 0%, 100%, 0.1);
            padding: 0.5em;
            transition: 0.25s;

            &:hover {
                background-color: hsl(0, 0%, 10%);
                color: var(--font-color-contrast);
            }

            &:active {
                background-color: var(--accent-color-transparent);
                color: var(--font-color-default);
            }
        }
    }


    .food-display {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 1em;
    }

}

@media screen and (max-width: 600px) {
    .DayContent {
        width: 100%;
        padding: 0.5em;

        .filter-bar {
            width: 100%;
            gap: 1em;
        }

        .food-display {
            width: 100%;
        }
    }
}