.DayContent {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 60%;
    align-items: center;
    padding: 1.5em;
    gap: 0.5em;
    z-index: 1;

    /* GLASS */
    background: hsl(0, 0%, 70%, 0.5);
    color: hsl(0, 0%, 15%);
    border: 1px solid hsla(0, 0%, 100%, 0.1);
    border-radius: var(--default-border-radius);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

    .filter-bar {
        display: flex;
        padding: 1em;
        gap: 15em;
        align-items: center;
        justify-content: space-evenly;

        .calorie-counter {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            font-family: var(--font-default);
            justify-items: center;
            padding: 0.5em;
            /* width: 8em; */

            background: hsl(0, 0%, 70%, 0.5);
            color: hsl(0, 0%, 15%);
            border: 1px solid hsla(0, 0%, 100%, 0.1);
            border-radius: var(--default-border-radius);
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(5px);
            -webkit-backdrop-filter: blur(5px);

            input {
                background: none;
                border: none;
                font-family: var(--font-default);
                max-width: 3em;
                min-width: 1em;
                font-size: 1em;
                font-weight: 600;

                &:focus {
                    outline: none;
                }
            }
        }

        /* .filter-meals {
            display: flex;
            gap: 1em;
        } */

        .view-mode {
            display: flex;
            gap: 1em;

            button {
                height: 2.5em;
                width: 2.5em;

                svg {
                    font-size: 1.5em;
                }
            }

        }

        button {
            color: var(--font-color-default);
            background: hsl(0, 0%, 70%, 0.5);
            font-family: var(--font-default);
            border: 1px solid hsla(0, 0%, 100%, 0.1);
            padding: 0.5em;
            transition: 0.25s;

            &:hover {
                background-color: hsl(0, 0%, 10%);
                color: var(--font-color-contrast);
            }

            &:active {
                background-color: var(--accent-color-transparent);
                color: var(--font-color-default);
            }
        }
    }


    .food-display {
        justify-items: center;
        align-items: center;
        max-width: 80%;

        .food {
            padding: 1em;
            justify-content: center;
            display: flex;
            flex-wrap: wrap;
            gap: 1em;
        }

    }

}

@media screen and (max-width: 600px) {
    .DayContent {
        width: 80%;

        .filter-bar {
            width: 100%;
            gap: 1em;
        }
    }
}