.Navbar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    user-select: none;
    z-index: 2;
    padding: 2em 1.5em;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, var(--clear-color) 60%);

    color: var(--default-color);

    .title {
        line-height: 10px;
        font-family: var(--font-title);
        justify-self: center;

        font-size: 6em;
        margin-top: 20px;
    }

}


@media screen and (max-width: 600px) {

    .Navbar {
        display: grid;
        width: 90%;
        padding: 0.25em 0.2em;
        grid-template-columns: 1fr 2fr;

        .title {
            font-size: 2em;
            margin-left: 0.25em;
        }

        .icons {
            display: flex;
            gap: 1em;

            .panel-button {
                font-size: 2em;
            }
        }

    }
}