.Navbar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 0.5em 1.5em;
    user-select: none;

    border: 1px solid green;

    .title {
        font-size: 2.5em;
        font-family: var(--font-title);
    }

    .icons {
        margin-left: auto;

        svg {
            font-size: 2.5em;
            color: var(--font-color-default);
            cursor: pointer;
        }
    }
}