.Navbar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    width: 60%;
    padding: 0.5em 1.5em;
    user-select: none;
    z-index: 2;

    background: hsl(0, 0%, 70%, 0.5);
    color: hsl(0, 0%, 15%);
    border: 1px solid hsla(0, 0%, 100%, 0.1);
    border-radius: var(--default-border-radius);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

    .title {
        font-size: 2.5em;
        font-family: var(--font-title);
    }

    .icons {
        margin-left: auto;

        .panel-button {
            font-size: 2.5em;
            cursor: pointer;
        }
    }
}