.MenuBar {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content;

    border: 1px solid hsla(0, 0%, 100%, 0.1);
    border-radius: var(--default-border-radius);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    user-select: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background: var(--clear-color);
    padding: 0.5em;


    &>div:first-child {
        display: grid;
        grid-template-columns: auto min-content;
        align-items: center;
        white-space: nowrap;
        padding: 0em 1em;
    }

    span {
        font-family: var(--font-default);
        font-size: 1.5em;
        /* outline: 1px solid red; */

    }

    svg {
        cursor: pointer;
        font-size: 2em;
    }

    .CalorieBar {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .label {
        font-size: 0.6em;
    }

    .p-calendar {
        width: 100%;
        height: 2em;
    }

    .p-inputtext {
        background-color: transparent;
        border: unset;

        color: var(--default-color);
        text-align: left;


        cursor: pointer;
        caret-color: transparent;
        user-select: none;

        /* text-align: center; */
        font-family: var(--font-default);
        font-size: 1em;

        &:focus {
            outline: none;
        }
    }
}

.p-datepicker {
    padding: 1em;
    font-family: var(--font-default);

    background: hsl(0, 0%, 70%, 0.5);
    color: hsl(0, 0%, 15%);
    border: 1px solid hsla(0, 0%, 100%, 0.1);
    border-radius: var(--default-border-radius);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);


    .p-datepicker-today {
        background-color: hsl(0, 0%, 80%, 0.5);
        border-radius: var(--default-border-radius);
        font-weight: 800;
        color: var(--accent-color);
    }

    .p-datepicker-month {
        width: 5em;
        border-radius: 1em 0em 0em 1em;

        &:hover {
            color: var(--accent-color);
        }
    }

    .p-datepicker-other-month {
        color: hsl(0, 0%, 10%, 0.2);
    }

    .p-datepicker-year {
        width: 5em;
        border-radius: 0em 1em 1em 0em;

        &:hover {
            color: var(--accent-color);
        }
    }

    td {
        padding: 0.5em;
    }
}


@media screen and (max-width: 600px) {

    .MenuBar {
        width: 85%;

        .p-calendar {
            width: 15em;
        }
    }

    .p-datepicker {

        .p-datepicker-other-month {
            color: hsl(0, 0%, 10%, 0.2);
        }

        td {
            padding: 0.5em;
        }

    }

}