.AddFoodDialog {
    font-family: var(--font-default);
    user-select: none;
    color: var(--font-color-default);

    button {
        background-color: var(--default-color);
        box-shadow: 2px 2px 5px hsl(0, 0%, 10%, 0.5);

        cursor: pointer;
        height: 1.4em;
        width: 1.4em;
        padding: 0;
        border-radius: .4em;
        margin-bottom: 0.25em;
        font-size: 2em;
        transition: 0.15s;

        &:hover {
            border-radius: 0.35em;
            background-color: var(--accent-color);
        }

        span {
            display: inline-flex;
            justify-content: center;
            font-family: var(--font-default);
            transition: 0.25s;
            outline: 1px solid tomato;
            width: 100%;
        }
    }

}

.p-dialog {
    width: 72em;
    height: 45em;
    top: 6em;
    background: hsl(0, 0%, 70%, 0.5);
    color: hsl(0, 0%, 15%);
    border: 1px solid hsla(0, 0%, 100%, 0.1);
    border-radius: var(--default-border-radius);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    padding: 1em;

    .p-dialog-header-close-icon {
        height: 1.5em;
        width: 2em;
    }

    .p-dialog-content {
        display: flex;
    }

    .dialog-content {
        display: flex;
        flex-direction: column;
        gap: 1em;
        padding: 2em;
        align-items: center;

        .dialog-title {
            text-transform: capitalize;
            user-select: none;
        }

        .dialog-header {
            display: flex;
            justify-content: space-evenly;
            gap: 15em;

            .search-bar {
                display: flex;
                gap: 0.5em;

                input {
                    position: relative;
                    font-family: var(--font-default);
                    font-size: 1em;
                    width: 15em;
                    height: 2em;
                    padding: 0em 2em;
                    border: none;
                    background: none;

                    border-bottom: 2px solid var(--default-color);
                    transition: 0.25s;

                    &:focus {
                        outline: unset;
                        border-bottom: 2px solid var(--accent-color);
                    }
                }

                svg {
                    position: absolute;
                    color: var(--accent-color);
                    font-size: 1.25em;
                    align-self: center;

                    margin-bottom: 15px;

                }

            }
        }

        .food-display {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 1.5em;
        }
    }
}

@media screen and (max-width:600px) {

    .AddFoodDialog {

        .section-title {
            font-size: 1.25em;
        }
    }

    .p-dialog {
        width: 85%;
        height: 85%;
        top: 5em;

        .dialog-content {
            padding: 0em;

            .dialog-title {
                font-size: 1.75em;
            }
        }
    }
}