.CalorieBar {
    /* width: 600px; */
    width: 100%;
    ;
    height: 20px;
    border: 2px solid hsl(0, 0%, 20%, 0.8);
    border-radius: var(--default-border-radius);
    position: relative;
    display: flex;
    overflow: hidden;
    margin-bottom: 1em;
}

.CalorieBar-breakfast {
    height: 100%;
    background-color: hsl(55, 70%, 75%);
}

.CalorieBar-lunch {
    height: 100%;
    background-color: hsl(18, 70%, 65%);
}

.CalorieBar-dinner {
    height: 100%;
    background-color: hsl(203, 70%, 65%);
}

.CalorieBar-snacks {
    height: 100%;
    background-color: hsl(293, 70%, 65%);
}

.CalorieBar-overflow {
    height: 100%;
    background-color: hsl(0, 70%, 65%);
}

.CalorieBar-calories {
    height: 100%;
    display: flex;
}

.CalorieBar-excess {
    height: 100%;
    display: flex;
}